raw_files/slabsc-1w/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/water/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/water/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/c42rutile-water/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/c42rutile-water/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/rutile334/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slab-1w/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slabsc-1w/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/water/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
raw_files/water/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/p42rutile-water/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/p42rutile-water/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/rutile334/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slab-1w/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slabsc-1w/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
raw_files/c42rutile-water/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
raw_files/p42rutile-water/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/rutile334/set.000/box.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slab-1w/set.000/force.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slabsc-1w/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/c42rutile-water/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/p42rutile-water/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
raw_files/rutile334/set.000/coord.npy filter=lfs diff=lfs merge=lfs -text
raw_files/slab-1w/set.000/energy.npy filter=lfs diff=lfs merge=lfs -text
